body{
  display: block;
}
#Title
{
    text-align: center;
    height: 100px;
    width: 100%;
    padding-top:13px;
    background-color: rgb(240,240,240);
}

nav
{
    height: 60px;
    width: 100%;
    background-color: rgb(200,200,200);
}

ul{
    width: 100%;
    display: inline-flex;

}

li{
    text-decoration: none;
    list-style-type: none;
    flex: 20%;
    padding-left: 4%;   
    margin-top: 5px; 
    
}
.topnav
{
  display: none;
}

a{
    color: black;
    border-color: black;
    text-decoration: none;
    list-style-type: none;
    padding: 18px 30px 20px 30px;
    background-color: rgb(200,200,200);
    border-style: solid;
}
a:hover{
    border-color:white;
    background-color: white;
    transition:1s;
}
.dropdown1 {
    position: relative;
    display: block;
}

.dropdown2 {
    position: relative;
    display: block;
}
  
.dropdown1 .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(220,220,220);
    margin-top: 20px;
    width: 123px;
    height: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 0;
    margin-left: 3px;
}

.dropdown2 .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(220,220,220);
    margin-top: 20px;
    width: 123px;
    height: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 0;
    margin-left: 3px;
}
  
.dropdown1:hover .dropdown-content {
    display: block;
}

.dropdown2:hover .dropdown-content {
    display: block;
}

.dropdown1 span{
    color: black;
    border-color: black;
    text-decoration: none;
    list-style-type: none;
    padding: 18px 30px 20px 38px;
    background-color: rgb(200,200,200);
    border-style: solid;
}

.dropdown2 span{
    color: black;
    border-color: black;
    text-decoration: none;
    list-style-type: none;
    padding: 18px 30px 20px 30px;
    background-color: rgb(200,200,200);
    border-style: solid;
}
.dropdown-content a{
    display: block;
    color: black;
    border-style: none;
    margin-left: 0px;
    float: middle;    
    text-align: center;
}

.title:hover{
    border-color:white;
    background-color: white;
    transition: .5s;
}

 #home{
  height: 600px;
  background-image: url("Assets/outside.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#contact{
  height: 550px;
  width: 100%;
  background-color: lightgrey;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 0;
  padding-top: 30px;
}
#contact p{
  margin-top: 40px;
}

 #contact h1 {
   text-align: center;
 }

 .sendMessage{
  margin-top: 30px;
 }
 #quad
 {
    text-align:center;
 }
 #duo
 {
    text-align:center;
 }

 .sections{
  display: inline-flex;
  height: 350px;
  width: 100%;
  background-color: lightgrey;

 }
 #quad h1{
  background-color: rgb(230,230,230);
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
 }

 .livingroom{
   flex: 50%;
   display: block;
   height:350px;
   border-style: solid;
   border-color: black;
   background-image: url(Assets/LivingRoom3.JPG);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
  }

  .livingroom h2{
    border-style: double;
    margin-top: 0;
    padding-top: 10px;
    margin-bottom: 0;
    padding-bottom: 10px;
    font-size: 40px;
    color: white;
  }

  .bedroom h2{
    border-style: double;
    margin-top: 0;
    padding-top: 10px;
    margin-bottom: 0;
    padding-bottom: 10px;
    font-size: 40px;
    color: white;
  }

  .livingroom ul{
    display: block;
    padding-left: 0;
    list-style-type: circle;
    text-align: center;
  }
  .livingroom ul li{
    display: block;
    height: 30px;
    width: 250px;
    padding-left: 0;
    font-size: 20px;
    color: black;
    background-color: lightgrey;
    border-radius: 5px;
    justify-content: center;
    margin: auto;
    margin-bottom: 5px;
  }
  .bedroom{
    flex: 50%;
    display: block;
    height:350px;
    border-style: solid;
    border-color: black;
    background-image: url(Assets/LivingRoom2.JPG);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
  }

  #duo h1{
    background-color: rgb(230,230,230);
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }
   
  .bedroom ul{
    display: block;
    padding-left: 0;
    margin-left: 0;
    list-style-type: circle;
    justify-content: center;
    text-align: center;
    justify-content: center;
  }
  .bedroom ul li{
    display: block;
    height: 30px;
    width: 250px;
    padding-left: 0;
    font-size: 20px;
    color: black;
    background-color: lightgrey;
    border-radius: 5px;
    justify-content: center;
    margin: auto;
    margin-bottom: 5px;
  }

  .bathroom{
    width: 100%;
    display: block;
    height:350px;
    border-style: solid;
    border-color: black;
    background-image: url(Assets/bathroom.JPG);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
  }

  .bathroom h2{
    border-style: double;
    margin-top: 0;
    padding-top: 10px;
    margin-bottom: 0;
    padding-bottom: 10px;
    font-size: 40px;
    color: white;
  }
   
  .bathroom ul{
    display: block;
    padding-left: 0;
    margin-left: 0;
    list-style-type: circle;
    justify-content: center;
    text-align: center;
    justify-content: center;
  }
  .bathroom ul li{
    display: block;
    height: 30px;
    width: 250px;
    padding-left: 0;
    font-size: 20px;
    color: black;
    background-color: lightgrey;
    border-radius: 5px;
    justify-content: center;
    margin: auto;
    margin-bottom: 5px;
  }

 footer{
   width: 100%;
   height: 115px;
   text-align: center;
 }
 h6{
   text-align: center;
   font-size: 15px;
 }
 html{
   scroll-behavior: smooth;
 }
 .basicRoom{
   display: none;
 }

 @media only screen and (max-width: 600px)
 {
   #quad{
     display: none;
   }

   #duo h1{
     Display: none;
   }

   #duo{
     display: block;
   }

   .bathroom{
     width: 100%;
     height: 500px;
   }

   .bedroom{
     width: 100%;
     height: 500px;
   }

   .livingroom{
     width: 100%;
     height: 500px;
   }

   .bathroom ul li{
    width: 250px;
    height: 30px;
  }

  .bedroom ul li{
    width: 250px;;
    height: 50px;
  }

  .livingroom ul li{
    width: 250px;
    height: 50px;
  }

   .sections{
     width: 100%;
     display: block;
     height: 1000px;
   }

  /* .basicRoom{
    display: block;
    Height: 700px;
    border-style: double;
  }
  .basicRoom h2{
    background-color: #eee;
    color: black;
    height: 60px;
    width: 100%;
    text-align: center;
    margin: 0px;
    padding-top: 40px;
    padding-bottom: 20px;
  }
  .basicRoom ul{
    width: 100%;
    height: 100%;
    text-align: center;
    padding-left: 0px;
  }

  .basicRoom li{
    padding-left: 0px;
  }
  
  .basicRoom #mainroom2{
    background-image: url("Assets/livingRoom.JPG");
    background-size: cover;
  }
  .basicRoom #bathroom2{
    background-image: url("Assets/bathroom.JPG");
    background-size: cover;
  }
  .basicRoom #bedroom2{
    background-image: url("Assets/livingRoom.JPG");
    background-size: cover;
  } */
    #Title
    {
      text-align: center;
      height: 100px;
      width: 100%;
      padding-top:13px;
      background-color: rgb(240,240,240);
    }

    .bathroom ul li{
      display: block;
      height: 50px;
      width: 50%;
      margin-bottom: 5px;
    }

    nav{
      display: none;
    }

    ul{
      width: 100%;
      display:block;
      height: 400px;
      padding-left: 0;
    }

    li{
     text-decoration: none;
      list-style-type: none;
      width: 100%;
      height: 50px;
    }
    .dropdown{
      width: 100%;
    }
    .topnav {
      display: block;
      overflow: hidden;
      background-color: #333;
      position: relative;
    }
    
    .topnav #myLinks {
      display: none;
    }
    
    .topnav a {
      color: black;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
      display: block; 
      text-align: center;
    }
    
    .topnav a.icon {
      background: white;
      display: block;
      position: absolute;
      right: 0;
      top: 0;

    }
    
    .topnav a:hover {
      background-color: black;
      color: #ddd;
    }
    
    .active {
      background-color: #666;
      color: white;
    }
  }